$button-right: 2.5em;
$button-bottom: 3.0em;
$button-size: 4.0em;

page-nights {
	.button {
		position: fixed;
		right: $button-right;
		bottom: $button-bottom;
		width: $button-size;
		height: $button-size;
	}
}
